click==6.7
cycler==0.10.0
Cython==0.28.5
django>=2.1.6
Flask==1.0.2
geos==0.2.1
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
lxml==4.2.4
MarkupSafe==1.0
matplotlib==2.2.2
MetPy==0.9.1
numpy==1.15.1
pandas==0.23.4
pyparsing==2.2.0
pyshp==1.2.12
python-dateutil==2.7.3
pytz==2018.5
Shapely==1.6.4.post2
six==1.11.0
Werkzeug==0.14.1
