{% extends 'carpatclimapp/base.html' %}

{% block content %}
    <div>
        <form method="POST" class="post-form">{% csrf_token %}
                   
            <p>Data for cordinates:</p>
            {{ form.as_p }}
            <!-- <p>country:</p> {{point.country}}<br> 
            <p>altitude:</p>{{point.altitude}} -->
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>

        </form>
        <!-- <div> 
                <p>Country:</p><div class ="panel-body">{{point.country}}</div>
                <p>Altitude:</p><div class ="panel-body">{{point.altitude}}</div>
            </div>         -->
    </div>
{% endblock %}