{% extends 'carpatclimapp/base.html' %}

{% block content %}

    <div>
            
        
        <form method="POST" class="post-form">{% csrf_token %}
                   
            <p>Data for cordinates:</p>
            {{ form.as_p }}
            <div> 
                <div class ="panel-body">{{output}}</div>
            </div>
            <button class="btn btn-primary btn-sm" value="Download data" type="submit">Download data</button>

            
            
            
                    
                  

        </form>
       
               

        
    </div>



{% endblock %}